.root {
  @apply bg-blue-600 text-gray-100 cursor-pointer inline-flex px-10 rounded-sm leading-6 transition ease-in-out duration-150 shadow-sm font-semibold text-center justify-center py-4 border border-transparent;
  text-align: center
}

.root:hover {
  @apply bg-blue-100 text-blue-700 border border-gray-600;
}

.root:focus {
  @apply outline-none;
}

.root[data-active] {
  @apply bg-gray-600;
}

.loading {
  @apply bg-blue-600 text-gray-300 border-red-400 cursor-not-allowed;
}

.slim {
  @apply py-2 transform-none normal-case;
}

.disabled,
.disabled:hover {
  @apply text-gray-800 border-red-500 bg-blue-200 cursor-not-allowed;
  filter: grayscale(1);
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}